{% extends "base.html" %}

{% block content %}

<div id="help">   
  
 
  {% for message in form.name.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.body.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  <div id = "list-of-entries">
    {% for entry in list %}
      {% if entry.timestamp.date() == when %}
        <ul>{{entry.body}}  {{entry.timestamp.time()}}</ul>
      {% endif %}   
    {% endfor %}
  </div> 
   <form action="{{ url_for('diary') }}" method=post>
    <div id = "datereview">  
    {{form1.month.label}}
    {{form1.month}} 
    {{form1.day.label}}
    {{form1.day}}  
    {{form1.year.label}}
    {{form1.year}}

    {{form1.submit}}
    </div>
  </form> 
  <div id = "diary"> 
  <form action="{{ url_for('diary') }}" method=post>
    {{ form.hidden_tag() }}
     
    <div id="diary-label1">{{ form.name.label }}</div>
    {{ form.name }}
     
    <div id="diary-label2">{{ form.body.label }}</div>
    {{ form.body }}
     
    <div id="submit-button">{{ form.submit }}</div>
  </form>
</div>
  
</div>

{% endblock %}
